// 主题色
$primary-color: #1989fa;
$success-color: #07c160;
$warning-color: #ff976a;
$danger-color: #ee0a24;

// 文字颜色
$text-color: #323233;
$text-color-light: #969799;

// 背景色
$background-color: #f7f8fa;

// 边框颜色
$border-color: #ebedf0; 